@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-red : #ff0000b5;
  --background-red : #f292924d;
  --tag-bg: #dce6f2;
  --tag-text: #4b76e1;
  --text-green : #154e1a;
  --background-green : #00800038;
  --text-yellow : #494e15;
  --background-yellow : #6f800038;
  --text-purple : #27154e;
  --background-purple : #20008038;
  --card-bg: #f0f0f0;
  --border-color: #e5e7eb;
  --hover-bg: #e5e7eb;
  --gradient-from: #1d4ed8;
  --gradient-to: #6b21a8;
  --border-color : #000000;
  --bg-icon : #bdbcbc99;
  --green-600: #16a34a;
  --green-700: #15803d;
  --indigo-500: #6366f1;
  --button-bg:#c3c3c3;
  --opposite-bg:#000000;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --tag-bg: #dbe9fc24;
  --tag-text: #7897ea;
  --text-red : #7e1515;
  --background-red: #f2a7a7c2;
  --text-green : #0c992b;
  --background-green: #4cff682b;
  --text-yellow : #89990c;
  --background-yellow: #f3ff4c2b;
  --text-purple : #610c99;
  --background-purple: #974cff2b;
  --card-bg: #dedede14;
  --border-color: #374151;
  --hover-bg: #374151;
  --gradient-from: #3b82f6;
  --gradient-to: #a855f7;
  --border-color: #747070;
  --bg-icon : #bdbcbc1a;
  --green-600: #22c55e;
  --green-700: #16a34a;
  --indigo-500: #818cf8;
  --button-bg: #f5f4f41f;
  --opposite-bg:#ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.cancel-button{
  background-color: var(--button-bg);
}

.text-theme {
  color: var(--text-color);
}

.bg-card {
  background-color: var(--card-bg);
}

.background{
  background-color: var(--bg-color);
}

.opposite-background{
  background-color: var(--opposite-bg);
}

.border-card{
  border-color: var(--border-color);
}

.bg-icon{
  background-color: var(--bg-icon);
}

.red{
  background-color: var(--background-red);
  color: var(--text-red);
}

.green{
  background-color: var(--background-green);
  color: var(--text-green);
}

.yellow{
  background-color: var(--background-yellow);
  color: var(--text-yellow);
}

.purple{
  background-color: var(--background-purple);
  color: var(--text-purple);
}

.border-theme {
  border-color: var(--border-color);
}

.tag{
  background-color: var(--tag-bg);
  color: var(--tag-text);
}

.hover-bg-theme:hover {
  background-color: var(--hover-bg);
}

.gradient-text {
  background-image: linear-gradient(to right, var(--gradient-from), var(--gradient-to));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}